<h1>New Click</h1>
<%= render 'form' %>
<br>
<table>
  <thead>
    <tr>
      <th>Clicks Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @clicks_count %></td>
    </tr>
  </tbody>
</table>